/* SETUP */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* UTILITYES */
/* colors */
.white{
    color: #fff;
}

.grey{
    color: #646464;
}

svg>path{
    fill:  #646464;
}

svg.home>path{
    fill:  white;
}

.text-center{
    text-align: center;
}
/* spaces */
.pl-5px{
    padding-left: 5px;
}

.pr-5px{
    padding-right: 5px;
}

.pl-10px{
    padding-left: 10px;
}

.ptb-5px{
    padding:5px 0;
}

.mr-5px{
    margin-right: 5px;
}
.mb-5px{
    margin-bottom: 5px;;
}

.mtb-5px{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mtb-10px{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mlr-5px{
    margin: 0 5px;
}
/* font */
.fs-10px{
    font-size: 10px;
}

.fs-12px{
    font-size: 12px;
}

.fs-40px{
    font-size: 40px;
}

.maiusc{
    text-transform: uppercase;
}
/* general */
a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.svg-box{
    width:28px;
    display:inline-block;
}

.svg-box-small{
    width:20px;
    display:inline-block;
}

ul{
    list-style: none;
}
.align-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.align-center-vertical{
    display:flex;
    flex-direction: column; 
    align-items:center;
}

/* HOVER TRANSITION */
a:hover{
    color:white;
}

.button:hover,
footer .keys a.big-play:hover{
    transform:scale(1.2)
}

.first-list li:hover .border-left{
    border-color: #646464;
}
.first-list li:hover .svg-box{
    transform:scale(1.2)
}

nav.main-nav li:hover .bottom-bar{
    background-color: #646464;
}
a.bar:hover .green-bar,
a.volume-bar:hover .effective-vol{
    background-color:#adff2f;
}



.bar:hover .level{
    opacity: 1;
}

.volume-bar:hover .level-volume{
    opacity: 1;
}

/* MAIN */
main{
    height: calc( 100vh - 80px);
    display:flex;
    position: relative;
}

/* SIDE BAR */
aside.side-bar{
    flex-basis:300px;
    min-width: 180px;
    overflow-y: hidden ;
}

.side-top{
    height: calc( 100% - 80px);
    min-height: 350px;
    background-color:#000000;
    padding: 10px 0;
    overflow: hidden;
}

.logo{
    width:130px;
    height:auto;
    padding-bottom: 10px;
}

aside .mini-logo{
    width:40px;
    height:auto;
    display:none;
    padding-bottom: 5px;
}

.border-left-green{
    border-left:3px solid #adff2f;
}

.border-left{
    border-left:3px solid #000000;
}

.playlist{
    height: 380px;
    padding: 10px;
    min-height: 150px;
    overflow-y: auto;
}
.side-bottom{
    height:80px;
    background-color:#000000;
    padding: 10px;
    overflow:hidden;
}

.side-bottom a{
    border-bottom: 2px solid #646464;
}

.side-bottom img{
    width:22px;
    height: 22px;
    border-radius: 50px;
    background-color:#646464;
}

/* TOP-BAR */
.main-content{
    flex-grow: 1;
    background-color: #141922;
    position: relative;
}

.top-bar{
    width:100%;
    height:70px;
    background-color:rgba(0, 0, 0, 0.546);
    position:absolute;
    top:0;
    right:0;
    display:flex;
    justify-content:flex-end;
    text-align: center;
    z-index: 1;
}

.top-bar .button{
    width:200px;
    height: 30px;
    border: 2px solid #fff;
    padding: 4px;
    text-transform: uppercase;
    border-radius:50px;
    margin:20px;
    transition: 0.5s linear;
}

.top-bar .button a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
 }   

 /* MAIN CONTENT */
 .content-scrollable{
     padding: 80px 15px 0;
     height:100%;
     overflow-y: auto;
 }

 nav.main-nav{
     padding: 20px 0;
 }

 nav.main-nav ul{
     display:flex;
     justify-content:space-around;
     flex-wrap: wrap;
 }

 .bottom-bar-green{
     width:50%;
     height:3px;
     margin: auto;
     background-color:#adff2f;
     margin-top: 5px;
 }

 .bottom-bar{
    width:50%;
    height:3px;
    margin: auto;
    background-color:#141922;
    margin-top: 5px;
}

 .album-list{
    display:flex;
    flex-wrap: wrap;
    padding: 10px 0;
 }

 .col{
     width: calc(100% / 6 - 12px ) ;
     margin: 0 6px;
 }

 .album{
     position: relative;
 }

 .album img{
     display: block;
     width:100%;
     object-fit: cover;
 }

 .album a.play{
     width:100%;
     height:100%;
     background-color:rgba(0, 0, 0, 0.546);
     position:absolute;
     top: 0;
     left: 0;
     opacity: 0;
     transition:0.5s;
 }

 .album:hover a.play{
     opacity: 1;
 }

 .album a.play i{
    position: absolute;
    top:50%;
    left:50%;transform: translate( -50%, -50%);
    font-size: 40px;
 }

 .circle{
    width:100%;
    height:auto;
    border-radius:50%;
    overflow: hidden;
    margin: 0 6px
}

/* FOOTER */
footer{
    height:80px;
    background-color: #282828;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

footer .track,
footer .footer-audio{
    width:250px;
}

footer .track img{
    width:50px;
    height: 55px;
}

.keys a{
    margin: 0 20px;
}

footer .footer-player{
    flex-grow: 1;
}

.player-bar{
    width:70%
}

.bar{
    width:70%;
    height:4px;
    border-radius: 50px;
    background-color:#5a5a5a;
    margin:auto;
}

 .green-bar{
    width:30%;
    height:100%;
    border-radius: 50px;
    background-color:#c1c1c1;
    position: relative;
}

.level{
    position:absolute;
    left:95%;
    bottom:-9px;
    opacity:0;
}

footer .keys a.big-play{
    transition: .3s linear;
}

.footer-audio a.volume-bar{
    width: 45%;
    height:4px;
    border-radius:50px;
    background-color:#5a5a5a;
    margin:auto;
}

a.volume-bar .effective-vol{
    width:25%;
    height: 100%;
    border-radius: 50px;
    background-color:#c1c1c1;
    position: relative;
}

.level-volume{
    position: absolute;
    left:85%;
    bottom: -9px;
    opacity: 0;
}





/* MEDIA */
/* XS */
@media screen and (max-width:600px){
    /* SIDE BAR */
    aside.side-bar{
        flex-basis:180px;
        min-width: 50px;
    }
    .side-top{
        min-height:150px;
    }
    aside.side-bar .ghost{
        display:none;
    }
    aside .mini-logo{
        display:inline-block;
    }
    /* mini logo */
    .side-bottom a{
        border-bottom: 0;
    }
    /* COLUMS */
    .col{
        width: calc( 100% / 2 - 12px );
    }
    /* MAIN NAV */
    nav.main-nav li{
        flex-basis: calc( 100% / 4 - 10px );
    }
    /* FOOTER */
    footer .track,
    footer .footer-audio{
    width:150px;
    }
    .keys a{
        margin: 0 10px;
    }
}

/* SM */
@media screen and (max-width:766px) and (min-width:601px){
    /* COLUMS */
    .col{
        width: calc( 100% / 2 - 12px );
    }
    /* NAV */
    nav.main-nav li{
        flex-basis: calc( 100% / 3 - 10px );
    }
    /* FOOTER */
    footer .track,
    footer .footer-audio{
    width:150px;
    }
}

/* MD */
@media screen and (max-width:1198px) and (min-width:767px){
    /* COLUMS */
    .col{
        width: calc( 100% / 4 - 12px );
    }
    /* NAV */
    nav.main-nav ul li{
        width: calc( 100% / 5 - 10px );
    }
    /* FOOTER */
    footer .track,
    footer .footer-audio{
    width:150px;
    }
}