/* SETUP */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 12px; */
}
/* UTILITYES */

.align-center{
    display:flex; 
    align-items:center;
}

.fs-12px{
    font-size: 12px;
}

.text-center{
    text-align:center;
}

.flex-start{
    justify-content: flex-start;
}

.maiusc{
    text-transform: uppercase;
}

.white{
    color: #fff;
}

.grey{
    color:#a3a3a3; 
}

.bold{
    font-weight:700;
}

.small-icon-img{
    width: 20px;
    height: 20px;
    fill:#a3a3a3; 
}

 a,
 a.a-nodeco{
    text-decoration: none;
}

.pl-5{
    padding-left: 5px;
}

.pl-10{
    padding-left: 10px;
}

.ptb-5{
    padding: 5px 0;
}

.ptb-10{
    padding: 10px 0;
}


/* MAIN */
main{
    display:flex;
}

/* SIDE BAR */
aside.side-bar{
    width:200px;
    height: calc( 100vh - 70px );
    background-color:#000000; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside.side-bar a:hover{
    color: #fff;
}
aside.side-bar section.sidebar-top{
    /* height: 200px; */
    padding-bottom: 10px;
}

aside .logo{
    width:140px;
    height:auto;
    padding: 10px;
}

aside .mini-logo{
    width:50px;
    height:auto;
    display:none;
    padding: 10px;
}

/* aside .playlist{
    height:500px;
    
} */

.element{
    padding: 10px;
}
.element a img{
    width:30px;
    fill: rgb(207, 21, 21);
}


section.element a.grey.align-center i{
    font-size: 40px;
    padding-right: 5px;
}

section.element a.grey.align-center{
    padding-top: 10px;
}

ul li{
    margin-top: 15px;
    list-style: none;
    font-size: 12px;
}

aside.side-bar sectin.main-content{
    align-items: flex-end;
}

/* SIDE BOTTOM */


section.side-bottom.grey .profile img{
    width:25px;
    height: 25px;
    border-radius: 50%;
    background-color:#808080;
}

section.side-bottom.grey{
    margin: 0 10px;
}

.install{
    border-bottom: 1px solid #a3a3a3;
}



/* TOP */
section.top{
    width: calc( 100vw - 200px);
    height: 70px;
    background-color:rgba(0, 0, 0, 0.69);
    align-self: flex-start;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 5;
    text-align:center;
    display:flex;
    justify-content:flex-end;
}

section.top .button{
    width:200px;
    height: 30px;
    border: 2px solid #fff;
    padding: 4px;
    text-transform: uppercase;
    border-radius:50px;
    margin:20px
}

section.top .button a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

section.top div.button{
    transition: .3s linear;
}

section.top div.button:hover{
    transform: scale(1.2);
}



/* MAIN CONTENT */
section.main-content{
    width: calc( 100vw - 200px );
    height: calc( 100vh - 70px );
    background-color:#141922;
    align-self: flex-end;
    overflow-y: auto;
    padding:0 10px;
    position: relative;
}

section.main-content a:hover{
    color:#fff;
}

div.main-padding{
    width:100%;
    height:75px;
}

.list-nav{
    width:70%;
    margin:20px auto 30px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

a.page{
    text-transform: uppercase;
    margin: 5px;
    text-decoration:none;
}

section.main-content div.list-nav .col-nav{
    flex-basis: calc(100% / 6);
    padding: 20px 0;
}



section.main-content .row-collection{
    padding-top: 20px;
    display:flex;
    flex-wrap:wrap;
}

section.main-content .row-collection:last-child{
    padding-bottom: 20px;
}

section.main-content .col{
    width: calc( 100% / 6 );
    padding: 5px;
}

section.main-content .album{
    position: relative;
}

.circle{
    width:100%;
    height:auto;
    border-radius:50%;
    overflow: hidden;
}

.album img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.album a.play{
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition:1s;
}

.album a.play i{
    font-size:60px;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.album:hover a.play{
   opacity:1;
}



/* FOOTER */
footer{
    height:70px;
    background-color:violet;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

footer .track img{
    width:50px;
    height: 50px;
}











/* MEDIA */

/* XS */
@media screen and (max-width:600px){
    
    /* SIDE BAR */
    aside.side-bar{
        width:50px;
    }
    aside.side-bar .xs-ghost{
        display:none;
    }
    aside .mini-logo{
        display:inline-block;
    }
    .install{
        border-bottom:0;
    }

    /* TOP */
    section.top{
        width: calc( 100vw - 50px);
    }
    /* MAIN CONTENT */
    section.main-content{
        width: calc( 100vw - 50px );
    }
    section.main-content .col{
        width: calc( 100% / 2 );
    }
    /* LIST NAV */
    .list-nav{
        width:100%;
    }
    section.main-content div.list-nav .col-nav{
        flex-basis: calc(100% / 4);
    }
}

/* SM */
@media screen and (max-width:766px) and (min-width:601px){
     /* COLUM'S ALBUM */
    section.main-content .col{
        width: calc( 100% / 2 );
    }
    /* LIST NAV */
    .list-nav{
        width:100%;
    }
    section.main-content div.list-nav .col-nav{
        flex-basis: calc(100% / 3);
    }
}

/* MD */
@media screen and (max-width:1198px) and (min-width:767px){
    /* COLUM'S ALBUM */
    section.main-content .col{
        width: calc( 100% / 4 );
    }

    /* LIST NAV */
    .list-nav{
        width:100%;
    }
    section.main-content div.list-nav .col-nav{
        flex-basis: calc(100% / 5);
    }
}